<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-a11y-keys/iron-a11y-keys.html">
<dom-module id="x-door">
    <template>
        <style>
            .container {
                position:absolute; top:75%;left:50%;transform:translate(-50%,-50%);
            }
            div{
                text-align: center;
            }

            .footer {
                position:absolute; bottom:1%;
                width:100%;
                font-size: smaller;
                color: grey;
            }
            .footer a{
                text-decoration: none;
                color: grey;
            }

            paper-button {
                background-color: var(--google-green-500);
                color: white;
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--google-yellow-300) !important;
                    color: white !important;
                };
            }
        </style>
        <div class="container">
            <div><paper-input id="input" placeholder="[[lang('enter_a_room')]]"></paper-input></div>
            <div><br/><br/>OR<br/><br/></div>
            <div><paper-button raised on-click="random">[[lang('random_room')]]</paper-button></div>
        </div>
        <div class="footer">
            <div>
                <a href="https://github.com/txthinking/lawsroom">Open Source</a>
            </div>
            <div>&copy;2017 [[lang('copyright')]]</div>
        </div>
        <iron-a11y-keys id="a11y" target="[[target]]" keys="enter"
                            on-keys-pressed="room"></iron-a11y-keys>
    </template>
    <script>
        Polymer({
            is: "x-door",
            properties: {
                target: {
                    type: Object,
                    value: function() {
                        return this.$.input;
                    }
                }
            },
            room: function(){
                page('/room/'+this.$.input.value);
            },
            random: function(){
                page('/random');
            },
            lang: function(key){
                var i18n = {
                    enter_a_room: {
                        'en-US': 'Type a name, Enter',
                        'zh-CN': '输入房间名字按回车进入'
                    },
                    random_room: {
                        'en-US': 'Random',
                        'zh-CN': '随机进入房间'
                    },
                    blog: {
                        'en-US': 'Blog',
                        'zh-CN': '博客'
                    },
                    trello: {
                        'en-US': 'Trello',
                        'zh-CN': 'Trello'
                    },
                    developer: {
                        'en-US': 'Developer',
                        'zh-CN': '开发者'
                    },
                    about: {
                        'en-US': 'About',
                        'zh-CN': '关于'
                    },
                    contact: {
                        'en-US': 'Contact',
                        'zh-CN': '联系'
                    },
                    copyright: {
                        'en-US': 'lawsroom.com',
                        'zh-CN': '北京动合无形科技有限公司'
                    }
                };
                var _ = 'en-US';
                if(navigator.language === 'zh-CN'){
                    _ = 'zh-CN';
                }
                return i18n[key][_];
            }
        });
    </script>
</dom-module>
