<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-a11y-keys/iron-a11y-keys.html">
<dom-module id="x-door">
    <template>
        <style>
            .container {
                position:absolute; top:50%;left:50%;transform:translate(-50%,-50%);
            }
            div{
                text-align:center;
            }
            .footer {
                position:absolute; bottom:5px;left:50%;transform:translate(-50%,-50%);
            }
            .bg { 
                position: fixed;
                top: -50%;
                left: -50%;
                width: 200%;
                height: 200%;
            }
            .bg img {
                position: absolute; 
                top: 0; 
                left: 0; 
                right: 0; 
                bottom: 0; 
                margin: auto; 
                min-width: 50%;
                min-height: 50%;
            }
        </style>
        <div class="bg">
            <img src="/img/bg.jpeg"/>
        </div>
        <div class="container">
            <div><paper-input id="input" placeholder="输入房间名字按回车进入"></paper-input></div>
                <div>OR</div>
            <div><paper-button raised on-click="random">随机进入房间</paper-button></div>
        </div>
        <div class="footer">
            <div>&copy;2016 北京动合无形科技有限公司</div>
        </div>
        <iron-a11y-keys id="a11y" target="[[target]]" keys="enter"
                            on-keys-pressed="room"></iron-a11y-keys>
    </template>
    <script>
        Polymer({
            is: "x-door",
            properties: {
                target: {
                    type: Object,
                    value: function() {
                        return this.$.input;
                    }
                }
            },
            room: function(){
                page('/room/'+this.$.input.value);
            },
            random: function(){
                page('/random');
            }
        });
    </script>
</dom-module>
