<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="/components/x-video.html">
<dom-module id="x-room">
    <template>
        <div class="lt-container lt-lg-h-3 lt-md-h-4 lt-sm-h-6 lt-xs-h-11">
            <div class="lt
                lt-lg-x-0 lt-lg-y-0 lt-lg-w-1 lt-lg-h-1
                lt-md-x-0 lt-md-y-0 lt-md-w-1 lt-md-h-1
                lt-sm-x-0 lt-sm-y-0 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-0 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body">
                    <x-video id="v0"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-1 lt-lg-y-0 lt-lg-w-1 lt-lg-h-1
                lt-md-x-1 lt-md-y-0 lt-md-w-1 lt-md-h-1
                lt-sm-x-1 lt-sm-y-0 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-1 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body">
                    <x-video id="v1"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-2 lt-lg-y-0 lt-lg-w-1 lt-lg-h-1
                lt-md-x-0 lt-md-y-1 lt-md-w-1 lt-md-h-1
                lt-sm-x-0 lt-sm-y-1 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-2 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body">
                    <x-video id="v2"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-0 lt-lg-y-1 lt-lg-w-1 lt-lg-h-1
                lt-md-x-1 lt-md-y-1 lt-md-w-1 lt-md-h-1
                lt-sm-x-1 lt-sm-y-1 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-3 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body">
                    <x-video id="v3"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-1 lt-lg-y-1 lt-lg-w-1 lt-lg-h-1
                lt-md-x-0 lt-md-y-2 lt-md-w-1 lt-md-h-1
                lt-sm-x-0 lt-sm-y-2 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-4 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body">
                    <x-video id="v4"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-2 lt-lg-y-1 lt-lg-w-1 lt-lg-h-1
                lt-md-x-1 lt-md-y-2 lt-md-w-1 lt-md-h-1
                lt-sm-x-1 lt-sm-y-2 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-5 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body">
                    <paper-button id="leave" raised on-click="leave">Leave</paper-button>
                </div>
            </div>
            <div class="lt
                lt-lg-x-3 lt-lg-y-0 lt-lg-w-1 lt-lg-h-2
                lt-md-x-2 lt-md-y-0 lt-md-w-1 lt-md-h-2
                lt-sm-x-0 lt-sm-y-3 lt-sm-w-1 lt-sm-h-2
                lt-xs-x-0 lt-xs-y-6 lt-xs-w-1 lt-xs-h-2">
                <div class="lt-body">
                    <paper-material id="chat" style="width:100%;height:100%;display:block;"></paper-material>
                </div>
            </div>
            <div class="lt
                lt-lg-x-3 lt-lg-y-2 lt-lg-w-1 lt-lg-h-1
                lt-md-x-2 lt-md-y-2 lt-md-w-1 lt-md-h-1
                lt-sm-x-0 lt-sm-y-5 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-7 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body">
                    <paper-input disabled id="input"></paper-input>
                </div>
            </div>
            <div class="lt
                lt-lg-x-0 lt-lg-y-2 lt-lg-w-1 lt-lg-h-1
                lt-md-x-0 lt-md-y-3 lt-md-w-1 lt-md-h-1
                lt-sm-x-1 lt-sm-y-3 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-8 lt-xs-w-1 lt-xs-h-2">
                <div class="lt-body">
                    ad
                </div>
            </div>
            <div class="lt
                lt-lg-x-1 lt-lg-y-2 lt-lg-w-1 lt-lg-h-1
                lt-md-x-1 lt-md-y-3 lt-md-w-1 lt-md-h-1
                lt-sm-x-1 lt-sm-y-4 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-9 lt-xs-w-1 lt-xs-h-2">
                <div class="lt-body">
                    ad
                </div>
            </div>
            <div class="lt
                lt-lg-x-2 lt-lg-y-2 lt-lg-w-1 lt-lg-h-1
                lt-md-x-2 lt-md-y-3 lt-md-w-1 lt-md-h-1
                lt-sm-x-1 lt-sm-y-5 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-10 lt-xs-w-1 lt-xs-h-2">
                <div class="lt-body">
                    ad
                </div>
            </div>
        </div>
        <iron-a11y-keys id="a11y" target="[[target]]" keys="enter"
                            on-keys-pressed="send"></iron-a11y-keys>
    </template>
    <script>
        Polymer({
            is: "x-room",
            properties: {
                roomId: {
                    type: String,
                    reflectToAttribute: true
                },
                i: {
                    type: Number,
                    notify: true,
                    reflectToAttribute: true,
                    observer: 'init',
                    value: 0
                },
                me: {
                    type: String
                },
                room: {
                    type: Object
                },
                opened: {
                    type: Boolean,
                    value: false 
                },
                inroom: {
                    type: Boolean,
                    value: false 
                },
                videos: {
                    type: Object,
                    value: {v0: "", v1: "", v2: "", v3: "", v4: ""}
                },
                target: {
                    type: Object,
                    value: function() {
                        return this.$.input;
                    }
                }
            }, 
            ready: function(){
                this.me = Date.now().toString();
                this.room = new Room({
                    signalServer: "wss://lawsroom.com/signal/",
                    me: this.me,
                    iceServers: [
                        {url: "stun:lawsroom.com:3478"},
                        {url: "turn:lawsroom.com:3478"}
                    ]
                });
                this.room.on("signal_open", this.signal_open.bind(this));
                this.room.on("signal_close", this.signal_close.bind(this));
                this.room.on("signal_error", this.signal_error.bind(this));
                this.room.on("peer_open", this.peer_open.bind(this));
                this.room.on("peer_close", this.peer_close.bind(this));
                this.room.on("channel_open", this.channel_open.bind(this));
                this.room.on("channel_message", this.channel_message.bind(this));
                this.room.on("channel_close", this.channel_close.bind(this));
                this.room.on("message_create", this.message_create.bind(this));
                this.room.on("message_join", this.message_join.bind(this));
                this.room.on("message_leave", this.message_leave.bind(this));
                this.room.on("message_notice", this.message_notice.bind(this));
                this.room.on("stream_add", this.stream_add.bind(this));
                this.room.on("stream_remove", this.stream_remove.bind(this));
                this.room.in();
            },
            init: function(){
                if(this.opened) {
                    this.join();
                }
            },

            signal_open: function(){
                this.opened = true;
                if(this.i !== 0){
                    this.join();
                }
            },
            signal_close: function(){
                this.opened = false;
                this.removeVideos();
                this.showData("notice: 网络连接已断开");
            },
            signal_error: function(){
                this.opened = false;
                this.removeVideos();
                this.showData("notice: 网络连接发生错误");
            },
            peer_open: function(who){
                this.showData("notice: " + who + " 来了");
            },
            peer_close: function(who){
                this.showData("notice: " + who + " 走了");
                this.removeVideo(who);
            },
            channel_open: function(who){
                this.$.input.disabled = false;
            },
            channel_message: function(who, data){
                this.showData(who + ': ' + data);
            },
            channel_close: function(who){
                if(this.room.channelsCount() === 0){
                    this.$.input.disabled = true;
                }
            },
            message_create: function(o){
                this.inroom = true;
                if (this.stream) {
                    this.addVideo(this.me, this.stream);
                }
                this.showData("notice: 您已进入房间"+this.roomId);
            },
            message_join: function(o){
                this.inroom = true;
                if (this.stream) {
                    this.addVideo(this.me, this.stream);
                }
                this.showData("notice: 您已进入房间"+this.roomId);
            },
            message_leave: function(o){
                this.inroom = false;
                this.removeVideos();
            },
            message_notice: function(o){
                if(typeof o.Data === "string"){
                    if(o.Data === 'room_exists'){
                        this.room.join(this.roomId);
                    }
                    if(o.Data === 'room_full'){
                    }
                }
            },
            stream_add: function(who, stm){
                this.addVideo(who, stm);
            },
            stream_remove: function(who){
                this.removeVideo(who);
            },

            addVideo: function(who, stm){
                for(var id in this.videos){
                    if(this.videos[id] === ''){
                        this.$[id].play(URL.createObjectURL(stm));
                        this.videos[id] = who;
                        break;
                    }
                }
            },
            removeVideo: function(who){
                for(var id in this.videos){
                    if(this.videos[id] === who){
                        this.$[id].stop();
                        this.videos[id] = '';
                        break;
                    }
                }
            },
            removeVideos: function(){
                for(var id in this.videos){
                    this.$[id].stop();
                    this.videos[id] = '';
                }
            },

            join: function(){
                var self = this;
                getUserMedia.call(navigator, {
                    audio: true,
                    video: {
                        width: 500,
                        height: 500,
                        frameRate: { ideal: 10, max: 15 }
                    }
                }, function(s){
                    self.stream = s;
                    self.room.setStream(s);
                    self.room.create(self.roomId);
                }, function(err){
                    console.log('get media', err);
                });
            },
            leave: function(){
                if(this.inroom){
                    this.room.leave();
                }
                page('/');
            },

            send: function(){
                this.showData(this.me +': ' +this.$.input.value);
                this.room.send(this.$.input.value);
                this.$.input.value = "";
            },
            showData: function(data){
                var text = he.escape(data);
                var old = this.$.chat.innerHTML;
                this.$.chat.innerHTML = old +"<br/>" + text;
            }
        });
    </script>
</dom-module>
