<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="/components/x-video.html">
<dom-module id="x-room">
    <template>
        <style>
            paper-button {
                background-color: var(--google-green-500);
                color: white;
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--google-yellow-300) !important;
                    color: white !important;
                };
                --paper-button-disabled: {
                    background-color: var(--google-grey-300) !important;
                    color: black !important;
                };
            }
        </style>
        <div class="lt-container lt-lg-h-2 lt-md-h-3 lt-sm-h-4 lt-xs-h-7">
            <div class="lt
                lt-lg-x-0 lt-lg-y-0 lt-lg-w-1 lt-lg-h-1
                lt-md-x-0 lt-md-y-0 lt-md-w-1 lt-md-h-1
                lt-sm-x-0 lt-sm-y-0 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-0 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body" style="text-align:center;">
                    <x-video id="v0"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-1 lt-lg-y-0 lt-lg-w-1 lt-lg-h-1
                lt-md-x-1 lt-md-y-0 lt-md-w-1 lt-md-h-1
                lt-sm-x-1 lt-sm-y-0 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-1 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body" style="text-align:center;">
                    <x-video id="v1"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-2 lt-lg-y-0 lt-lg-w-1 lt-lg-h-1
                lt-md-x-0 lt-md-y-1 lt-md-w-1 lt-md-h-1
                lt-sm-x-0 lt-sm-y-1 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-2 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body" style="text-align:center;">
                    <x-video id="v2"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-0 lt-lg-y-1 lt-lg-w-1 lt-lg-h-1
                lt-md-x-1 lt-md-y-1 lt-md-w-1 lt-md-h-1
                lt-sm-x-1 lt-sm-y-1 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-3 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body" style="text-align:center;">
                    <x-video id="v3"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-1 lt-lg-y-1 lt-lg-w-1 lt-lg-h-1
                lt-md-x-0 lt-md-y-2 lt-md-w-1 lt-md-h-1
                lt-sm-x-0 lt-sm-y-2 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-4 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body" style="text-align:center;">
                    <x-video id="v4"></x-video>
                </div>
            </div>
            <div class="lt
                lt-lg-x-2 lt-lg-y-1 lt-lg-w-1 lt-lg-h-1
                lt-md-x-1 lt-md-y-2 lt-md-w-1 lt-md-h-1
                lt-sm-x-1 lt-sm-y-2 lt-sm-w-1 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-5 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body">
                    <div style="text-align:center;padding-top:29%;">
                    <paper-button id="join" disabled raised on-click="join">加入</paper-button>
                    <paper-button id="leave" raised on-click="leave">离开</paper-button>
                    </div>
                </div>
            </div>
            <div class="lt
                lt-lg-x-3 lt-lg-y-0 lt-lg-w-1 lt-lg-h-2
                lt-md-x-2 lt-md-y-0 lt-md-w-1 lt-md-h-3
                lt-sm-x-0 lt-sm-y-3 lt-sm-w-2 lt-sm-h-1
                lt-xs-x-0 lt-xs-y-6 lt-xs-w-1 lt-xs-h-1">
                <div class="lt-body">
                    <paper-material id="chat" style="width:100%;height:91%;padding: 0px 5px 5px 5px;display:block;overflow:auto;"></paper-material>
                    <paper-input placeholder="回车发送消息" disabled id="input"></paper-input>
                </div>
            </div>
        </div>
        <iron-a11y-keys id="a11y" target="[[target]]" keys="enter"
                            on-keys-pressed="send"></iron-a11y-keys>
    </template>
    <script>
        Polymer({
            is: "x-room",
            properties: {
                roomId: {
                    type: String,
                    reflectToAttribute: true
                },
                me: {
                    type: String
                },
                room: {
                    type: Object
                },
                videos: {
                    type: Object,
                    value: {v0: "", v1: "", v2: "", v3: "", v4: ""}
                },
                target: {
                    type: Object,
                    value: function() {
                        return this.$.input;
                    }
                }
            }, 
            ready: function(){
                this.me = id();
                this.showData("[NOTICE]: 你的临时名字是 " + name(this.me));
                this.room = new Room({
                    signalServer: "wss://lawsroom.com/signal/_/",
                    me: this.me,
                    iceServers: [
                        {url: "stun:lawsroom.com:3478"},
                        {url: "turn:lawsroom.com:3478"}
                    ]
                });
                this.room.on("signal_open", this.signal_open.bind(this));
                this.room.on("signal_close", this.signal_close.bind(this));
                this.room.on("signal_error", this.signal_error.bind(this));
                this.room.on("peer_open", this.peer_open.bind(this));
                this.room.on("peer_close", this.peer_close.bind(this));
                this.room.on("channel_open", this.channel_open.bind(this));
                this.room.on("channel_message", this.channel_message.bind(this));
                this.room.on("channel_close", this.channel_close.bind(this));
                this.room.on("message_create", this.message_create.bind(this));
                this.room.on("message_join", this.message_join.bind(this));
                this.room.on("message_leave", this.message_leave.bind(this));
                this.room.on("message_notice", this.message_notice.bind(this));
                this.room.on("stream_add", this.stream_add.bind(this));
                this.room.on("stream_remove", this.stream_remove.bind(this));
                this.room.in();
            },

            signal_open: function(){
                this.$.join.disabled = false;
            },
            signal_close: function(){
                this.$.join.disabled = true;
                this.removeVideos();
                this.showData("[NOTICE]: 连接已断开, 请检查网络连接, 并刷新重连.");
            },
            signal_error: function(){
                this.$.join.disabled = true;
                this.removeVideos();
                this.showData("[NOTICE]: 连接发生错误, 请检查网络连接, 并刷新重连.");
            },
            peer_open: function(who){
                this.showData("[NOTICE]: " + name(who) + " 加入了");
            },
            peer_close: function(who){
                this.showData("[NOTICE]: " + name(who) + " 离开了");
                this.removeVideo(who);
            },
            channel_open: function(who){
                this.$.input.disabled = false;
            },
            channel_message: function(who, data){
                this.showData('[' + name(who) + '] : ' + data);
            },
            channel_close: function(who){
                if(this.room.channelsCount() === 0){
                    this.$.input.disabled = true;
                }
            },
            message_create: function(o){
                this.addVideo(this.me, this.stream);
                this.showData("[NOTICE] : 你已加入房间 "+this.roomId);
            },
            message_join: function(o){
                this.addVideo(this.me, this.stream);
                this.showData("[NOTICE] : 你已加入房间 "+this.roomId);
            },
            message_leave: function(o){
                this.$.join.disabled = false;
                this.removeVideos();
            },
            message_notice: function(o){
                if(typeof o.Data === "string"){
                    if(o.Data === 'room_exists'){
                        this.room.join(this.roomId);
                    }
                    if(o.Data === 'room_full'){
                        this.showData("[NOTICE]: 房间人数已满");
                        this.$.join.disabled = false;
                    }
                }
            },
            stream_add: function(who, stm){
                this.addVideo(who, stm);
            },
            stream_remove: function(who){
                this.removeVideo(who);
            },

            addVideo: function(who, stm){
                for(var id in this.videos){
                    if(this.videos[id] === ''){
                        this.$[id].play(URL.createObjectURL(stm));
                        this.videos[id] = who;
                        break;
                    }
                }
            },
            removeVideo: function(who){
                for(var id in this.videos){
                    if(this.videos[id] === who){
                        this.$[id].stop();
                        this.videos[id] = '';
                        break;
                    }
                }
            },
            removeVideos: function(){
                for(var id in this.videos){
                    this.$[id].stop();
                    this.videos[id] = '';
                }
            },

            join: function(){
                this.$.join.disabled = true;
                var self = this;
                getUserMedia.call(navigator, {
                    audio: true,
                    video: {
                        width: 500,
                        height: 500,
                        frameRate: { ideal: 10, max: 15 }
                    }
                }, function(s){
                    self.stream = s;
                    self.room.setStream(s);
                    self.room.create(self.roomId);
                }, function(err){
                    this.$.join.disabled = false;
                    self.showData('[NOTICE]: ' + '无法获取摄像头信息');
                });
            },
            leave: function(){
                if(this.$.join.disabled){
                    this.room.leave();
                    this.releaseStream();
                }
                this.$.chat.innerHTML = "";
                page('/');
            },

            releaseStream: function(){
                if(!this.stream){
                    return;
                }
                this.stream.getTracks().forEach(function(track){
                    track.stop();
                });
                this.stream = undefined;
            },
            send: function(){
                this.showData('[' + name(this.me) +']: ' +this.$.input.value);
                this.room.send(this.$.input.value);
                this.$.input.value = "";
            },
            showData: function(data){
                var text = he.escape(data);
                var old = this.$.chat.innerHTML;
                this.$.chat.innerHTML = old +"<br/>" + text;
            }
        });
    </script>
</dom-module>
