<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-a11y-keys/iron-a11y-keys.html">
<dom-module id="x-support">
    <template>
        <style>
            .container {
                position:absolute; top:25%;left:50%;transform:translate(-50%,-50%);
            }
            div{
                text-align: center;
            }
            .footer {
                position:absolute; bottom:1%;
                width:100%;
                font-size: smaller;
                color: var(--google-grey-500);
            }
            .footer a{
                text-decoration: none;
                color: var(--google-grey-500);
            }
        </style>
        <div class="container">
            目前支持浏览器: Chrome, Firfox, Opera, 部分基于Chrome的浏览器
        </div>
        <div class="footer">
            <div>
                <a href="https://blog.lawsroom.com" target="_blank">博客</a>
                -
                <a href="https://trello.com/b/NEJvmnbI" target="_blank">产品路线</a>
                -
                <a href="https://docs.lawsroom.com" target="_blank">开发者</a>
                -
                <a href="https://blog.lawsroom.com/about/" target="_blank">关于</a>
                -
                <a href="mailto:contact@lawsroom.com" target="_blank">联系</a>
            </div>
            <div>&copy;2016 北京动合无形科技有限公司</div>
        </div>
        <iron-a11y-keys id="a11y" target="[[target]]" keys="enter"
                            on-keys-pressed="room"></iron-a11y-keys>
    </template>
    <script>
        Polymer({
            is: "x-support",
            properties: {
            }
        });
    </script>
</dom-module>
